---
title: Home

---
<section class="hero diagonal" style="height: 30%;">
	<div class="container" style="float:left; width:50%;">
		<h2 class="editable">Emmanuella Ametsi</h2>
		<p class="subtext editable">Welcome to my  <strong>Blog!</strong> </p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Me</a></p>
	</div>
	<div style ="width: 30%; float:left;">
		<h1 class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/profile.jpg" alt="Urban" width="150" height="150" style="border-radius: 50%" alt="Avatar"></a></h1>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of my work</h3>
			<p class="editable">I take pride in my previous work and happy customers. I cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/profile.jpg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/ellaametsi.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest software, greatest perfomance</h3>
			<p class="editable">As a new agency we get reap the benefits of the latest and greatest. We build our websites with the most up to date technology. This ensures your website is fast, efficient and reliable for many years.</p>
		</div>
	</div>
</section>
